---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
    firstName: "prime_gator",
    country: "Vietnam",
    occupation: "human being",
    hobbies: ["playing asymmetrical horror games", "swimming", "eating the most unhealthy things known to man", "violating the Geneva conventions"]


};

const skills = ["Python", "Lua", "C#", "CSS", "Pygame", "PyQt", "Panda3D", "HTML", "JavaScript", "Unity"]

const happy = true;
const finished = false;
const goal = 8;

const skillColor = "navy"
---

<BaseLayout>
    <h1>{pageTitle}</h1>
    <h2>...and my new Astro site</h2>

    <p>I am learning to violate the Geneva conventions (side note: and use Astro) to create my first blog.</p>
    <p>This site will be updated as I commit war crimes and work through the introduction tutorial.</p>

    {happy && <p>I am happy to be learning Astro.</p>}
    {finished && <p>I finished the tutorial</p>}
    {goal === 8 ? <p>My goal is to finish the tutorial in 8 lessons</p> : <p>My goal is not 8 lessons</p>}

    <p>Some facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}.</li>
        <li>I live in {identity.country} and I am a {identity.occupation}.</li>
        {identity.hobbies.length >= 2 &&
            <li>two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[2]}.</li>
        }
    </ul>
    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    <!-- page-specific styles -->
     <style define:vars={{ skillColor }}>
        .skill {
            color: var(--skillColor);
            font-weight: bold;
        }
     </style>

     <!-- styles that will affect layout stuff (e.g h1) -->
      <style is:global>
        h1 {
            color: purple;
            font-size: 4rem;
        }
      </style>
</BaseLayout>



